<a href="https://colab.research.google.com/github/DavidkingMazimpaka/Easy_WebScrapping/blob/main/BeautifuSoup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Web Scrapping with BeautifulSoup

In [2]:
!pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests) (2024.6.2)

In [9]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
url = "https://www.worldometers.info/world-population/population-by-country/"
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

In [11]:
# Find the table
table = soup.find('table', id='example2')

if table:
    # Extract the header
    headers = [th.text.strip() for th in table.find_all('th')]

    # Extract the data
    data = []
    for row in table.find_all('tr')[1:]:  # Skip the header row
        row_data = [td.text.strip() for td in row.find_all('td')]
        if row_data:
            data.append(row_data)

    # Create DataFrame
    df = pd.DataFrame(data, columns=headers)

    # Display the DataFrame
    print(df)
else:
    print("Table not found")

       # Country (or dependency) Population (2023) Yearly Change  Net Change  \
0      1                   India     1,428,627,663        0.81 %  11,454,490
1      2                   China     1,425,671,352       -0.02 %    -215,985
2      3           United States       339,996,563        0.50 %   1,706,706
3      4               Indonesia       277,534,122        0.74 %   2,032,783
4      5                Pakistan       240,485,658        1.98 %   4,660,796
..   ...                     ...               ...           ...         ...
229  230              Montserrat             4,386       -0.09 %          -4
230  231        Falkland Islands             3,791        0.29 %          11
231  232                    Niue             1,935        0.05 %           1
232  233                 Tokelau             1,893        1.18 %          22
233  234                Holy See               518        1.57 %           8

    Density (P/Km²) Land Area (Km²) Migrants (net) Fert. Rate Med. Age  \
0               481       2,973,190       -486,136        2.0       28
1               152       9,388,211       -310,220        1.2       39
2                37       9,147,420        999,700        1.7       38
3               153       1,811,570        -49,997        2.1       30
4               312         770,880       -165,988        3.3       21
..              ...             ...            ...        ...      ...
229              44             100              0        1.6       44
230               0          12,170              0        1.6       40
231               7             260              0        2.4       36
232             189              10              0        2.6       27
233           1,295               0              0

    Urban Pop % World Share
0          36 %     17.76 %
1          65 %     17.72 %
2          83 %      4.23 %
3          59 %      3.45 %
4          35 %      2.99 %
..          ...         ...
229        11 %      0.00 %
230        62 %      0.00 %
231        41 %      0.00 %
232         0 %      0.00 %
233        N.A.      0.00 %

[234 rows x 12 columns]